.body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #001489;
  }

.Logo {
  text-align: center;
  }

.maiandros {
  background-repeat: repeat-x;
  background-image: url("maiandros2.png");
  height: 21px;
  width: 100%;
}

.menu {
  color: #FFFFFF;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px;
  }
